IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.header4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #365983; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #e6e6e6; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.outerBG {
	PADDING-LEFT: 3px; BACKGROUND-COLOR: #426289
}
.innerBG {
	BACKGROUND-COLOR: #f9f9f9
}
.power {
	COLOR: #003366
}
.headingCont {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.lineCont {
	BACKGROUND-COLOR: #003366
}
.righttab {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #96d2c8
}
.Bgcolor {
	BACKGROUND-COLOR: #003366
}
.header1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.header2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana, sans-serif, Helvetica, Arial; BACKGROUND-COLOR: #e7c97d
}
.NavMenu {
	PADDING-LEFT: 7px; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #426289
}
.navborder {
	BACKGROUND-COLOR: #0f2f56
}
.TrialAlert {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffff33; HEIGHT: 30px
}
.IconText:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e7c97d
}
.IconText {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e7c97d
}
.IconText:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana
}
.IconText:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e7c97d; TEXT-DECORATION: underline
}
.dirhead {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: #f9f9f9; COLOR: #003366; FONT-STYLE: normal; HEIGHT: 25px
}
.Padding1 {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px
}
.Padding2 {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px
}
.Padding3 {
	PADDING-RIGHT: 30px; PADDING-LEFT: 20px
}
.Bg1 {
	BACKGROUND-COLOR: #f1f3f6
}
BODY {
	
}
A {
	FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-DECORATION: none; color:#003366
}
A:link {
	FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-DECORATION: none; color:#003366
}
A:visited {
	FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-DECORATION: none; color:#003366
}
A:active {
	FONT-SIZE: 11px; FONT-FAMILY: verdana; TEXT-DECORATION: none; color:#003366
}
A:hover {
	TEXT-DECORATION: underline; color : Blue
}
TD {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.Bg2 {
	BACKGROUND-COLOR: #c1cad7
}
LI {
	LIST-STYLE-TYPE: square; TEXT-ALIGN: justify
}
UL {
	LIST-STYLE-TYPE: square
}
.trackBar {
	PADDING-LEFT: 16px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.disabled {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: red
}
.contents {
	PADDING-LEFT: 2px; FONT-SIZE: 11px; COLOR: black; BACKGROUND-COLOR: #ffffff
}
.labells {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND-COLOR: #dddee1
}
.sublabells {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND-COLOR: #d2d9e2
}
.LoopListingLight {
	COLOR: #f9f9f9; BACKGROUND-COLOR: #f9f9f9
}
.LoopListingDisabled1 {
	COLOR: red; BACKGROUND-COLOR: #f9f9f9
}
.LoopListingDark {
	COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
.LoopListingDisabled2 {
	COLOR: red; BACKGROUND-COLOR: #ffffff
}
.tableMouseOverCell {
	HEIGHT: 25px; BACKGROUND-COLOR: #fffff4
}
.LoopListingLight TD {
	COLOR: #333333; HEIGHT: 25px
}
.LoopListingDark TD {
	COLOR: #333333; HEIGHT: 25px
}
.LoopItem TD {
	COLOR: #333333; HEIGHT: 25px
}
.Labells TD {
	COLOR: #333333; HEIGHT: 25px
}
.sublabells TD {
	COLOR: #333333; HEIGHT: 25px
}
.HeadingInContrast {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #669933; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.header3 {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e1e4eb
}
.Padding1 {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px
}
.Padding2 {
	PADDING-RIGHT: 13px; PADDING-LEFT: 13px
}
.innerTabBg {
	BACKGROUND-COLOR: #edf1e6
}
.note {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #333333; LINE-HEIGHT: 16px; PADDING-TOP: 4px; FONT-FAMILY: Verdana; TEXT-ALIGN: justify
}
.ScreenCounter {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #e1e4eb
}
.BtnBg {
	PADDING-RIGHT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; HEIGHT: 25px; BACKGROUND-COLOR: #f9f9f9
}
.Line {
	BACKGROUND-COLOR: #c1cad7
}
.Errors {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #ff1a02; LINE-HEIGHT: 16px; PADDING-TOP: 4px; FONT-FAMILY: Verdana
}
.Success {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR: #669966; LINE-HEIGHT: 16px; PADDING-TOP: 4px; FONT-FAMILY: Verdana
}
.ServiceType {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #787878; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.grey {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000080; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Butn {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; CURSOR: hand; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.butn {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; CURSOR: hand; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.TextBox {
	BORDER-RIGHT: #7494b2 1px solid; BORDER-TOP: #7494b2 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7494b2 1px solid; BORDER-BOTTOM: #7494b2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 17px
	
}

.input {
	
	border-style :none;
	font-family :Wingdings ;
	background-color :#ffffff;
	
	
}
.CheckBox {
	BORDER-RIGHT: #7494b2 1px solid; BORDER-TOP: #7494b2 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7494b2 1px solid; BORDER-BOTTOM: #7494b2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; font-weight :bold 
}
TEXTAREA {
	BORDER-RIGHT: #7494b2 1px solid; BORDER-TOP: #7494b2 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7494b2 1px solid; COLOR: #003366; BORDER-BOTTOM: #7494b2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SELECT {
	BORDER-RIGHT: #7494b2 1px solid; BORDER-TOP: #7494b2 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #7494b2 1px solid; COLOR: #003366; BORDER-BOTTOM: #7494b2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.clCMEvent
{
    LEFT: 0px;
    VISIBILITY: visible;
    WIDTH: 99%;
    CLIP: rect(0px 100% 100% 0px);
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 99%
}
.clCMAbs
{
    LEFT: 0px;
    VISIBILITY: hidden;
    POSITION: absolute;
    TOP: 0px
}
.clBar
{
    VISIBILITY: hidden;
    WIDTH: 10px;
    POSITION: absolute;
    BACKGROUND-COLOR: black;
    layer-background-color: black
}
.clLevel0
{
    POSITION: absolute
}
.clLevel0over
{
    POSITION: absolute
}
.clLevel0
{
   COLOR: #2F2F2F;
   BACKGROUND-COLOR: #D0D0D0;
   layer-background-color: NAVY ;
   font-family : Bookman Old Style;
   font-size: 13Px ;
   font-weight:bold;
   text-align:	Left;
   vertical-align :text-bottom ;
   PADDING-TOP: 5px;
   }
.clLevel0over
{
   CURSOR: hand;
   COLOR: #1C539E;
   BACKGROUND-COLOR: #D0D0D0;
   layer-background-color: NAVY;
   font-family : Bookman Old Style;
   font-size: 13Px ;
   font-weight:bold;
   text-align:	Left;
   vertical-align :text-bottom ;
   PADDING-TOP: 5px;
}
.clLevel0border
{
    VISIBILITY: hidden;
    POSITION: absolute;
    BACKGROUND-COLOR: #000000;
    layer-background-color: #000000
}
.clLevel1
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
	font-family : Arial;
	font-size: 10Px ;
	font-weight:bold;
    POSITION: absolute
}
.clLevel1over
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    FONT-FAMILY: arial;
    font-weight:bold;
    POSITION: absolute
}
.clLevel1
{
    COLOR: #2F2F2F;
    BACKGROUND-COLOR: #D0D0D0;
    layer-background-color: #D0D0D0
}
.clLevel1over
{
    CURSOR: hand;
    COLOR: #003366;
    BACKGROUND-COLOR: #cecbce;
    layer-background-color: #818ba6
}
.clLevel1border
{
    VISIBILITY: visible;
    POSITION: absolute;
    HEIGHT: 0px;
    BACKGROUND-COLOR: #818ba6;
    layer-background-color: #818ba6
}
.redtitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 19px;
    COLOR: #ca393c;
    LINE-HEIGHT: 32px;
    FONT-FAMILY: Tahoma, Arial, sans serif
}
BLOCKQUOTE
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, Arial, Tahoma, Helvetica, sans-serif
}
.copyright
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Tahoma, Helvetica, sans-serif
}
.menu
{
    Z-INDEX: 500;
    HEIGHT: 15px
}
.small
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: verdana
}
.link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    COLOR: Black ;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}